In [1]:
import pandas as pd

df = pd.read_csv("vehicles.csv")
df.info()

C:\Users\mptur\AppData\Local\Temp\ipykernel_4132\3169813526.py:3: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("vehicles.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46130 entries, 0 to 46129
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        46130 non-null  float64
 1   barrelsA08       46130 non-null  float64
 2   charge120        46130 non-null  float64
 3   charge240        46130 non-null  float64
 4   city08           46130 non-null  int64
 5   city08U          46130 non-null  float64
 6   cityA08          46130 non-null  int64
 7   cityA08U         46130 non-null  float64
 8   cityCD           46130 non-null  float64
 9   cityE            46130 non-null  float64
 10  cityUF           46130 non-null  float64
 11  co2              46130 non-null  int64
 12  co2A             46130 non-null  int64
 13  co2TailpipeAGpm  46130 non-null  float64
 14  co2TailpipeGpm   46130 non-null  float64
 15  comb08           46130 non-null  int64
 16  comb08U          46130 non-null  float64
 17  combA08          46130 non-null  int64
 18  combA08U         46130 non-null  float64
 19  combE            46130 non-null  float64
 20  combinedCD       46130 non-null  float64
 21  combinedUF       46130 non-null  float64
 22  cylinders        45633 non-null  float64
 23  displ            45635 non-null  float64
 24  drive            44944 non-null  object
 25  engId            46130 non-null  int64
 26  eng_dscr         29064 non-null  object
 27  feScore          46130 non-null  int64
 28  fuelCost08       46130 non-null  int64
 29  fuelCostA08      46130 non-null  int64
 30  fuelType         46130 non-null  object
 31  fuelType1        46130 non-null  object
 32  ghgScore         46130 non-null  int64
 33  ghgScoreA        46130 non-null  int64
 34  highway08        46130 non-null  int64
 35  highway08U       46130 non-null  float64
 36  highwayA08       46130 non-null  int64
 37  highwayA08U      46130 non-null  float64
 38  highwayCD        46130 non-null  float64
 39  highwayE         46130 non-null  float64
 40  highwayUF        46130 non-null  float64
 41  hlv              46130 non-null  int64
 42  hpv              46130 non-null  int64
 43  id               46130 non-null  int64
 44  lv2              46130 non-null  int64
 45  lv4              46130 non-null  int64
 46  make             46130 non-null  object
 47  model            46130 non-null  object
 48  mpgData          46085 non-null  object
 49  phevBlended      46130 non-null  bool
 50  pv2              46130 non-null  int64
 51  pv4              46130 non-null  int64
 52  range            46130 non-null  int64
 53  rangeCity        46130 non-null  float64
 54  rangeCityA       46130 non-null  float64
 55  rangeHwy         46130 non-null  float64
 56  rangeHwyA        46130 non-null  float64
 57  trany            46119 non-null  object
 58  UCity            46130 non-null  float64
 59  UCityA           46130 non-null  float64
 60  UHighway         46130 non-null  float64
 61  UHighwayA        46130 non-null  float64
 62  VClass           46130 non-null  object
 63  year             46130 non-null  int64
 64  youSaveSpend     46130 non-null  int64
 65  guzzler          2706 non-null   object
 66  trans_dscr       15044 non-null  object
 67  tCharger         9651 non-null   object
 68  sCharger         993 non-null    object
 69  atvType          4707 non-null   object
 70  fuelType2        1838 non-null   object
 71  rangeA           1833 non-null   object
 72  evMotor          1855 non-null   object
 73  mfrCode          15322 non-null  object
 74  c240Dscr         141 non-null    object
 75  charge240b       46130 non-null  float64
 76  c240bDscr        135 non-null    object
 77  createdOn        46130 non-null  object
 78  modifiedOn       46130 non-null  object
 79  startStop        14441 non-null  object
 80  phevCity         46130 non-null  int64
 81  phevHwy          46130 non-null  int64
 82  phevComb         46130 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 28.9+ MB

Build custom database for analyst

In [5]:
explore_fuel_economy = df[['year', 'make', 'model', 'VClass','cylinders', 'displ', 'highway08', 'comb08',
                          'pv2', 'lv2', 'pv4', 'lv4', 'hpv', 'hlv', 'drive']].copy()
explore_fuel_economy = explore_fuel_economy.rename(columns={'comb08':'CombCityHwy MPG',
                                                        'hlv':'HatchLuggVol', 'lv2':'2D LuggVol', 'lv4':'4D LuggVol', 
                                                        'pv2': '2D PassVol', 'highway08': 'HW mpg@55', 'pv4':'4D PassVol',
                                                          'hpv':'HatchPassVol'})
explore_fuel_economy['HW mpg@65'] = (explore_fuel_economy['HW mpg@55']*.9).astype(int)
explore_fuel_economy['HW mpg@75'] = (explore_fuel_economy['HW mpg@65']*.89).astype(int)
explore_fuel_economy['HW mpg@85'] = (explore_fuel_economy['HW mpg@75']*.88).astype(int)
explore_fuel_economy['HW mpg@95'] = (explore_fuel_economy['HW mpg@85']*.87).astype(int)
explore_fuel_economy['HW mpg@105'] = (explore_fuel_economy['HW mpg@95']*.85).astype(int)
explore_fuel_economy = explore_fuel_economy[['year', 'make', 'model', 'VClass', 'cylinders', 'displ', 
                          'drive','CombCityHwy MPG', 'HW mpg@55','HW mpg@65',
                          'HW mpg@75', 'HW mpg@85', 'HW mpg@95', 'HW mpg@105']]
explore_fuel_economy.head()

,year,make,model,VClass,cylinders,displ,drive,CombCityHwy MPG,HW mpg@55,HW mpg@65,HW mpg@75,HW mpg@85,HW mpg@95,HW mpg@105
0,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,4.0,2.0,Rear-Wheel Drive,21,25,22,19,16,13,11
1,1985,Ferrari,Testarossa,Two Seaters,12.0,4.9,Rear-Wheel Drive,11,14,12,10,8,6,5
2,1985,Dodge,Charger,Subcompact Cars,4.0,2.2,Front-Wheel Drive,27,33,29,25,22,19,16
3,1985,Dodge,B150/B250 Wagon 2WD,Vans,8.0,5.2,Rear-Wheel Drive,11,12,10,8,7,6,5
4,1993,Subaru,Legacy AWD Turbo,Compact Cars,4.0,2.2,4-Wheel or All-Wheel Drive,19,23,20,17,14,12,10

Look at differant views

In [25]:
explore_fuel_economy.sort_values(['HW mpg@105'], ascending=[True]).head()

,year,make,model,VClass,cylinders,displ,drive,CombCityHwy MPG,HW mpg@55,HW mpg@65,HW mpg@75,HW mpg@85,HW mpg@95,HW mpg@105
25347,1987,Rolls-Royce,Camargue,Compact Cars,8.0,6.8,Rear-Wheel Drive,8,9,8,7,6,5,4
40242,1985,Aston Martin,Lagonda,Subcompact Cars,8.0,5.3,Rear-Wheel Drive,8,9,8,7,6,5,4
19947,1984,Rolls-Royce,Silver Spur Limousine,Large Cars,8.0,6.8,NaN,8,9,8,7,6,5,4
18792,1984,Rolls-Royce,Silver Spur Limousine,Large Cars,8.0,6.8,NaN,8,9,8,7,6,5,4
40353,1985,Aston Martin,Saloon/Vantage/Volante,Subcompact Cars,8.0,5.3,Rear-Wheel Drive,8,9,8,7,6,5,4

Size of Custom DF

In [ ]:

explore_fuel_economy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1139 entries, 38567 to 40194
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     1139 non-null   int64
 1   make                     1139 non-null   object
 2   model                    1139 non-null   object
 3   VClass                   1139 non-null   object
 4   cylinders                1026 non-null   float64
 5   displ                    1026 non-null   float64
 6   2D PassVol               1139 non-null   int64
 7   2D LuggVol               1139 non-null   int64
 8   4D PassVol               1139 non-null   int64
 9   4D LuggVol               1139 non-null   int64
 10  HatchPassVol             1139 non-null   int64
 11  HatchLuggVol             1139 non-null   int64
 12  drive                    1139 non-null   object
 13  CombCityHwy MPG          1139 non-null   int64
 14  CombCHW_Cost100miles     1139 non-null   float64
 15  AggCombMPG               1139 non-null   int32
 16  AggCombCHW_Cost100miles  1139 non-null   float64
 17  HW mpg@55                1139 non-null   int64
 18  HW@55_Cost100miles       1139 non-null   float64
 19  HW mpg@65                1139 non-null   int32
 20  HW@65_Cost100miles       1139 non-null   float64
 21  HW mpg@75                1139 non-null   int32
 22  HW@75_Cost100miles       1139 non-null   float64
 23  HW mpg@85                1139 non-null   int32
 24  HW@85_Cost100miles       1139 non-null   float64
 25  HW mpg@95                1139 non-null   int32
 26  HW mpg@105               1139 non-null   int32
dtypes: float64(8), int32(6), int64(9), object(4)
memory usage: 222.5+ KB

Save to CSV

In [ ]:
# explore_fuel_economy.to_csv('fuel_economy_study.csv', encoding='utf-8')